.profile-name {
    display: flex;
}

.profile-name img {
    height: 50px;
    width: 50px;
}

.profile-info {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
}

.add-break {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
}

.profile-info h4 {
    margin-top: 0;
}

.input-fld {
    width: 100%;
}

.btn-com {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background: #560de8;
    border: none;
    border-radius: 0px 0px 8px 8px;
}